#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&none  &kp NUMBER_1    &kp N2          &kp N3       &kp N4       &kp N5         &none                                                                  &none  &kp N6  &kp N7       &kp N8       &kp N9           &kp N0      &none
&none  &kp Q           &kp Y           &kp U        &kp O        &kp SLASH      &none                                                                  &none  &kp X   &kp L        &kp D        &kp W            &kp Z       &none
&kp B  &hm LEFT_WIN C  &hm LEFT_ALT I  &hm LCTRL E  &hm LSHFT A  &kp COMMA      &none      &kp ESCAPE  &kp LEFT_BRACE       &kp HOME    &kp ENTER      &none  &kp K   &hm RSHFT H  &hm RCTRL T  &hm RIGHT_ALT N  &hm RWIN S  &kp V
&none  &kp SQT         &kp MINUS       &kp EQUAL    &kp PERIOD   &kp SEMICOLON                         &kp RIGHT_BRACE      &kp END                           &kp J   &kp M        &kp G        &kp P            &kp F       &kp RSHFT
&none  &none           &none           &none        &none                       &kp SPACE  &kp TAB     &kp INSERT           &kp DELETE  &kp BACKSPACE  &kp R          &none        &none        &none            &none       &none
            >;
        };

        Lower {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        Symbol {
            bindings = <
&trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COMMA         &kp PERIOD    &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SEMICOLON     &kp QUESTION  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp EQUAL             &kp UNDERSCORE         &kp DOLLAR        &kp ASTERISK  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp PIPE              &kp MINUS              &kp GREATER_THAN  &kp SLASH                     &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp SQT               &kp DOUBLE_QUOTES      &kp PLUS                        &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
